[Desktop Entry]
Name=KWin Rectangle
Comment=Shortcuts to move windows around.

Icon=preferences-system-windows-script-test
Type=Service

X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js

X-KDE-PluginInfo-Author=Álan Crístoffer e Sousa
X-KDE-PluginInfo-Email=acristoffers@startmail.com
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kwin-rectangle
X-KDE-PluginInfo-Version=1.2.7
X-KDE-PluginInfo-Website=https://github.com/acristoffers/kwin-rectangle
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-EnabledByDefault=true

X-KDE-ConfigModule=kwin/effects/configs/kcm_kwin4_genericscripted
X-KDE-Library=kwin/effects/configs/kcm_kwin4_genericscripted
X-KDE-ParentComponents=kwin-rectangle
X-KDE-PluginKeyword=kwin-rectangle
X-KDE-ServiceTypes=KWin/Script
